@import './constants';

:host {
  .margin-8 {
    margin: 8px;
  }

  .tb-error {
    letter-spacing: 0.25px;
    color: var(--mdc-theme-error, #f44336);
  }

  .tb-required::after {
    content: "*";
    font-size: 16px;
    color: #000000de;
  }
}

.same-width-component-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  @media #{$mat-xs} {
    gap: 8px;
  }

  & > * {
    flex: 1;
  }
}

::ng-deep .tb-default tb-rule-node-config mat-form-field .mdc-text-field .mat-mdc-form-field-icon-suffix .mat-icon.mat-primary {
  color: #000000;
  opacity: .38;

  &:hover {
    color: $tb-primary-color;
    opacity: unset;
  }
}
