@import './constants';

.tb-default tb-rule-node-config {
  .margin-8 {
    margin: 8px;
  }

  .tb-error {
    letter-spacing: 0.25px;
    color: var(--mdc-theme-error, #f44336);
  }

  .tb-required::after {
    content: "*";
    font-size: 16px;
    color: #000000de;
  }

  .help-icon {
    color: #000000;
    opacity: .38;
    padding: unset;

    &:hover {
      color: $tb-primary-color;
      opacity: unset;
    }
  }

  .same-width-component-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    @media #{$mat-xs} {
      gap: 8px;
    }

    & > * {
      flex: 1;
    }
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
